.hide {
  display:none;
}
/*一些主题背景颜色自定义*/
.bg-theme1-top { 
  background-color: #303b4a;
}
.bg-theme1-menu { 
  background-color: #202121;
}
.bg-theme2-top { 
  background-color: #174f90;
}
.bg-theme2-menu { 
  background-color: #203d67;
}
.bg-theme3-top { 
  background-color: #9fc592;
}
.bg-theme3-menu { 
  background-color: #8cb17f;
}
.bg-theme4-top { 
  background-color: #cbb0ff;
}
.bg-theme4-menu { 
  background-color: #c1a0ff;
}
.bg-theme5-top { 
  background-color: #45B8AC;
}
.bg-theme5-menu { 
  background-color: #215651;
}
.bg-theme6-top { 
  background-color: #80afff;
}
.bg-theme6-menu { 
  background-color: #a9c1ea;
}

/*按钮的边框问题*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none; 
  box-shadow:none;         
}
/*header*/
#header {
  height:50px;
}
#header-brand {
  width: 200px;
}
/*导航菜单选中样式*/
#header li.active a {
  font-size:1.5rem;
}
#user-info-card {
  width: 18rem;
  position:absolute;
  z-index: 999;
}
#change-theme-card {
  width: 12rem;
  position:absolute;
  z-index: 999;
}
#more-action-card {
  width: 10rem;
  position:absolute;
  z-index: 999;
}

/*left-menu*/
#left-menu {
  position: absolute;
  transition: margin-left .3s ease-in-out;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100% - 80px);
  overflow-y: auto;
}
#menu-title {
  border-bottom: 1px solid #ddd;
}
#menu-title > a {
  display: inline-block;
}
/*侧边菜单选中样式*/
#left-menu li.active > a {
  background-color:#fff;
  text-decoration:none;
}

/*main*/
#main {
  position: absolute;
  top: 90px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 120px);
  overflow-y: auto;
}
/*main-tabs*/
#tabs-bar {
  height: 40px;
  border-bottom: 1px solid #ddd;
  position:absolute;
  top:50px;
  left:200px;
  right:0px;
}
#tabs-bar #tab-backward {
  border-right:1px solid #ccc;
}
#tabs-bar .nav-tab-box {
  width: auto;
  margin-right:78px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
#tabs-bar  #main-tab {
  width:3000px;
  border-bottom: 0;
  position: relative;
  display:block;
  overflow: hidden;
}
#tabs-bar #navtabsDropdown {
  margin-top:-40px;
}
#tabs-bar #tab-forward {
  margin-top:-40px;
  margin-right:36px;
}
#tabs-bar > a.btn {
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-radius:0;
  height:100%;
}
#tabs-bar .nav-tabs .nav-link {
  border-radius:0;
}
#tabs-bar .nav-link .close-current-tab {
  padding: 6px;
  color:#ccc;
}
#tabs-bar .nav-link .close-current-tab:hover {
  color:red;
}

/*数据表格样式自定义*/
/*.table > thead {
  font-size:18px;
}
 .table-striped tbody tr:nth-of-type(even) {
  background-color:#e2f2ff;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #d8efd9;
} */
.table-striped tbody tr:hover {
 background-color:#e2f2ff;
}
.table-list-title {
  padding:5px;
}
.table-list-title::before {
  content: '';
  border: 3px solid #17a2b8;
}
.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
  padding:4px;
}
.bootstrap-table .table:not(.table-condensed)>tbody>tr>td {
  padding:4px;
}

/*footer*/
#footer {
  height: 30px;
  line-height: 30px;
}

/*Alert*/
#alert {
  position:absolute;  
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 6%;
  z-index: 999999;
}

/*lock screen*/
#lock-screen-page {
  background-color:#000000;
  height:100%;  
  min-width:1580px;  
  width:100%;  
  position:absolute;  
  left:0px;  
  top:0px;  
  opacity:0.8;  
  z-index:99999; 
}
#lock-screen-page .card {
  width: 300px;
  margin: 0 auto;
  margin-top:12%;
}