<div class="fixed-bottom text-center bg-theme1-top m-0 text-white" id="footer">
Copyright © 2017-2018 tp_bs_dms. 保留所有权利。
<button class="btn btn-primary pull-right">&times;</button>
</div>

<!--alert msg 信息提示框-->
<div class="alert alert-warning alert-dismissible fade shadow" id="alert" role="alert" style="width:800px;margin:0 auto;margin-top: 12%;">
  <span>message</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal 模态框-->
<div class="modal fade" id="action-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="exampleModalLabel">新增用户</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">关闭</span>
        </button>
      </div>
      <div class="modal-body">
        content
      </div>
    </div>
  </div>
</div>

