<!--left_menu-->
<div class="bg-theme1-menu" id="left-menu">
  <div class="w-100">
    <ul class="nav flex-column text-left p-0 m-0 w-100 pull-left" id="menu-list">
      <li class="nav-item text-center" id="menu-title">
        <span class="text-white">菜 单 栏</span>
        <a class="nav-link btn btn-sm ml-3 text-warning" href="<{:url('admin/login/logout')}>">退出</a>
      </li>
      <!--菜单加载-->
      <{$menuAuth}>
      <{empty name="menuAuth"}>
        <li class="nav-item <{if $menu.title=='首页'}>active menu-chose<{/if}>">
          <a class="nav-link" href="#"><i class="fa fa-tachometer">&nbsp;&nbsp;</i><span>首页</span></a>
        </li>
      <{/empty}>
    </ul>
  </div>
</div>
<!--end-left_menu-->