<div class="bg-light" id="main">
  <nav class="bg-light p-0" style="border-bottom: 1px solid #ddd;height: 40px;">
    <a class="btn pull-left" id="tab-backward" title="左侧隐藏标签" href="javascript:void(0)" onclick="animate_tabs('backward')" style="border-right:1px solid #ccc;"><i class="fa fa-backward"></i></a>
    <div class="nav-tab-box h-100" style="overflow: hidden;position: relative;margin-right:78px;white-space: nowrap;width:auto;">
      <ul class="nav nav-tabs pull-left h-100" id="main-tab" style="width:3000px;border-bottom: 0;position: relative;display:block;overflow: hidden;">
        <li class="nav-item active" id="home-tab">
        <a class="nav-link p-6 active pull-left" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          首页
        </a>
        </li>

        <li class="nav-item">
          <a class="nav-link p-6 pull-left" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
            用户列表
            <i class="fa fa-times" onclick="close_current_tab(this)"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-6 pull-left" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
            数据列表
            <i class="fa fa-times" onclick="close_current_tab(this)"></i>
          </a>
        </li>

      </ul>

    </div>
    
    <a class="btn dropdown-toggle pull-right" href="#" id="navtabsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:-40px;"></a>
    <a class="btn pull-right" id="tab-forward" title="右侧隐藏标签" href="javascript:void(0)" onclick="animate_tabs('forward')"  style="margin-top:-40px;margin-right:36px;"><i class="fa fa-forward"></i></a>
    <div class="dropdown-menu" aria-labelledby="navtabsDropdown">
      <button class="dropdown-item btn text-primary" onclick="close_tabs()">关闭所有</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item btn text-primary" onclick="stay_current_tab()">只留当前</button>
    </div>
  </nav>  
  

  <div class="container-fluid p-2 pull-left">
    <div class="tab-content" id="main-content">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <{for start="1" end="66"}>
      home
      <{/for}>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">tab2</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">tab3</div>
    </div>
  </div>
</div>