<style>
  #select-tree ul {
    list-style: none;
    padding-left: 12px;
  }
  #select-tree input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-bottom: 1px;
    vertical-align: middle;
  }
</style>
<div id="select-tree">
<form id="select-tree-form">
  <div class="form-group">
    <label for="exampleFormControlSelect1">选择角色 <span class="text-danger">（注意：该操作为角色重新分配权限）</span> </label>
    <select class="form-control" id="" name="role_id" required>
      <option value="0">请选择角色</option>
      <{foreach $roles as $id=>$name}>
        <option value="<{$id}>"><{$name}></option>
      <{/foreach}>
    </select>
  </div>
  <{notempty name="modules"}>
    <h3 class="text-info">顶部导航菜单</h3>
    <{foreach $modules as $id=>$module}>
      &nbsp;&nbsp;<label><input type="checkbox" name="selects" value="<{$id}>">&nbsp;<{$module}></label>
    <{/foreach}>
  <{/notempty}>

  <hr />

  <{$menuAuth}>

  <hr />

  <{notempty name="actions"}>
    <h3 class="text-info">具体操作权限</h3>
    <{foreach $actions as $id=>$action}>
      &nbsp;&nbsp;<label><input type="checkbox" name="selects" value="<{$id}>">&nbsp;<{$action}></label>
    <{/foreach}>
  <{/notempty}>

  <button type="button" class="btn btn-info btn-block">提 交</button>
  
</form>
</div>

<script>
  $('#select-tree').find('label').change(function(){
    var checked = $(this).children('input[type="checkbox"]').prop('checked');
    if(checked===true){ //子集权限选中后，父级也一并选中，因为先有父级
      $(this).parent().parent().prev().children().prop('checked', true);
      $(this).next('ul').find('input[type="checkbox"]').prop('checked', true);
    }else{
      $(this).next('ul').find('input[type="checkbox"]').prop('checked', false); 
      var siblingsCheck = $(this).parent().siblings().find(':checked');
      if(siblingsCheck.length < 1){ //如果没有一个子元素选中，则父元素也不选中
        $(this).parent().parent().prev().children().prop('checked', false);
      }
    }
  });

$("#select-tree-form .btn-block").click(function(event){
  if($('select[name="role_id"]').val() == 0){
    Alert('请选择角色！', 'alert-danger');
    return false;
  }
  var formData = new FormData($('#select-tree-form')[0]); 
  var selects = $('#select-tree-form').find('input:checkbox:checked');
  if(selects.length < 1){
    Alert('请至少选择一项权限！', 'alert-danger');
    return false;
  }
  var checked = [];
  selects.each(function(){
    checked.push($(this).val());
  });
  formData.append('checked', checked);
  $.ajax({
    url: domain + 'admin/auth/roleAssignment',
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false,
    success: function(result,status,xhr){
      if(result.code == 1){ 
        $('#action-modal').modal('hide');
        Alert(result.msg, 'alert-success');
        $('#data-table').bootstrapTable('refresh');
      }else{
        $('#action-modal').modal('hide');
        Alert(result.msg, 'alert-danger');
        return false;
      }
    }
  });
});
</script>