<style>
  #select-tree ul {
    list-style: none;
    padding-left: 12px;
  }
  #select-tree input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-bottom: 1px;
    vertical-align: middle;
  }
</style>
<div id="select-tree">
<form id="select-tree-form">
  <div class="form-group">
    <label for="exampleFormControlSelect1">选择角色</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <{$checkHtml}>
  
</form>
</div>

<script>
  $('#select-tree').find('label').click(function(){
    var checked = $(this).children('input[type="checkbox"]').prop('checked');
    if(checked){ //子集权限选中后，父级也一并选中，因为先有父级
      $(this).parentsUntil('#select-tree-form > ul').find('ul').prev().children().prop('checked', true);
    }
  });
</script>